# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Saved Index (generated at runtime)
saved_index/
saved_index.tgz

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
